## TEST 1
#### Imbalanced Data Challenge

In [1]:
import pandas as pd

credit_raw = pd.read_csv("creditcard.csv")
credit_raw.head(3)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0

[3 rows x 31 columns]